.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox-inline input:hover {
  color: aquamarine;
  cursor: pointer;
}

.input>canvas {
  border: 2px solid;
  border-radius: 5px;
}

.canvases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#InputCanvas {
  margin-right: 10px;
}

#ResultImg {
  border: 2px solid;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

#btn {
  margin-right: 10px;
}

#clr {
  margin-left: 5px;
}
.strong {
  margin: 10px 0;
}